<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        header {
            border-bottom:1px solid gray;
            padding:20px;
        }
        nav {
            border-right: 1px solid gray;
            width:200px;
            height:800px;
            float:left;
        }
        article {
            float:left;
            padding:20px;
        }
    </style>
</head>
<body>
    <header>
        <h1><a href="test3">Test3</a></h1>
    </header>
    <nav>
        <ol>
            <li><a>JavaScript</a></li>
            <li><a>변수와 상수1</a></li>
            <li><a>연산자</a></li>
        </ol>
    </nav>
    <article>
        Hello World <strong> I am Taeasdhoon </strong>
    </article>    
</body>
</html>